<!-- Header -->
   <header id="header">
      <h1><span style="color:#F89734">LikeLion</span> At <span style="color:#10417C;">YU</span></h1>
      <nav>
         <ul>
            <li><a href="#intro">LikeLion</a></li>
            <li><a href="#one">Intro</a></li>
            <li><a href="#two">Schedule (1)</a></li>
            <li><a href="#three">Schedule (2)</a></li>
            <li><a href="#work">Sponsors</a></li>
            <li><a href="#contact">Helpers</a></li>
         </ul>
      </nav>
   </header>

<!-- Intro -->
   <section id="intro" class="main style1 dark fullscreen">
      <div class="content">
         <header>
            <h2>HACK YOUR LIFE .</h2>
         </header>
         <span ><p style="background-color: black">LIKELION @ <strong>Yeungnam University</strong></p></span></br>
         
         <strong>Why not change the world</strong>
         <p>비전공자에게 코딩을 가르치면 어떤일이 벌어질지 궁금했다</p>
         <footer>
            <a href="#one" class="button style2 down">More</a>
         </footer>
      </div>
   </section>

<!-- One -->
   <section id="one" class="main style2 right dark fullscreen"style="background-image:url('../images/intro_box_bg.png'); background-size: cover;">
      <div class="content box style2">
          
         <header>
            <h2 >Intro</h2>
            <p style="text-align:left;margin-top:5px;"> → 온라인 강의와 오프라인 활동을 통한<br><span style="margin-left:30px;">체계적인 <span style="font-weight: 800;"> 웹 프로그래밍 교육</span></span></p>
         </header>
         <p style="text-align:left;"><b>자체 개발된 온라인 강의 플랫폼 '클래스라이언'</b> 을 통해 강의를 듣고 과제를 수행합니다.
         다양한 오프라인 활동과 병행하여 뜻을 같이하는 동료를 찾고
         자신이 <b>만들고자 하는 서비스를 직접 프로그래밍</b> 하도록 돕습니다.</p>
         
         <ul style="text-align:left; font-size:15px;">
            <li>▶ <b>최신 기술 스택</b> 및 툴 활용</li>
            <li>▶ 오프라인 교육 및 <b>네트워킹</b></li>
            <li>▶ 해커톤을 통한 <b>아이디어 개발/서비스 구현</b></li>
            <li>▶ <b>자체제작 플랫폼</b>을 통한 개별학생관리</li>
         </ul>
      </div>
      <a href="#two" class="button style2 down anchored">Next</a>
   </section>

<!-- Two -->
<section id="two" class="main style2 left dark fullscreen" style="background-image:url('../images/schedule2_bg.png'); background-size: cover;">
   <div class="content box style2" style="width: 736.6666px;">
      <header>
         <h2>schedule (1)</h2>
         <h7>  모집일정</h7></br>
         <img src="../images/sche1.PNG" style="width: 600px; max-width: 100%" /></a>
      </header>
   </div>
   <a href="#three" class="button style2 down anchored">Next</a>
</section>
   
<!-- Three -->
<section id="three" class="main style2 right dark fullscreen" style="background-image:url('../images/schedule1_bg.png'); background-size: cover;">
   <div class="content box style2" style="width: 736.6666px; padding-bottom: 20px; padding-top: 20px;">
      <header style="margin-bottom: 0px;">
         <h2>schedule (2)</h2>
         <h7>  전체일정</h7></br>
      </header>
      <img src="../images/sche2-1.PNG" style="max-width: 100%" /></a>
   </div>
   <a href="#work" class="button style2 down anchored">Next</a>
</section>

<!-- Work -->
   <section id="work" class="main style3 primary">
      <div class="content">
         <header>
            <h2>Sponsors</h2>
            <p>멋쟁이사자처럼의 운영을 도와주시는 분들입니다</p>
         </header>

         <!-- Gallery  -->
            <div class="gallery">
               <article class="from-left">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/google.png" title="google" alt="" /></a>
               </article>
               <article class="from-right">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/amazon.png" title="amazon" alt="" /></a>
               </article>
               <article class="from-left">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/fuse.png" title="fuse" alt="" /></a>
               </article>
               <article class="from-right">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/klbfoundation.png" title="klbfoundation" alt="" /></a>
               </article>
               <article class="from-left">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/smilegate.png" title="smilegate" alt="" /></a>
               </article>
               <article class="from-right">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/primer.png" title="primer" alt="" /></a>
               </article>
               <article class="from-left">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/campusSeoul.png" title="campusSeoul" alt="" /></a>
               </article>
               <article class="from-right">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/meulticampus.png" title="meulticampus" alt="" /></a>
               </article>
               <article class="from-left">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/vingle.png" title="vingle" alt="" /></a>
               </article>
               <article class="from-right">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/yellomobile.png" title="yellomobile" alt="" /></a>
               </article>
               <article class="from-left">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/bonangels.png" title="bonangels" alt="" /></a>
               </article>
               <article class="from-right">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/jpub.png" title="jpub" alt="" /></a>
               </article>
               <article class="from-left">
                  <a href="#" class="image fit" style="pointer-events: none;"><img src="../images/logo/fast.png" title="fast" alt="" /></a>
               </article>
            </div>

      </div>
   </section>

<!-- Contact -->
   <section id="contact" class="main style3 secondary">
      <div class="content">
         <header>
            <h2>Helpers</h2>
            <p>지원방법 및 연락처</p>
         </header>
         <div class="box">
            <strong>지원 방법</strong>
            <p>네이버에서 '자소설닷컴' 검색, 접속 후 멋쟁이 사자처럼 영남대 지원</p></br>
            
            <strong>연락처</strong>
            
            <ul class="actions">
            <li><strong>Facebook</strong> : @facebook.com/likelion.yu&nbsp;   &nbsp;   &nbsp;  &nbsp;<a href="https://www.facebook.com/likelion.yu/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <p><strong>EMAIL</strong> : choijam@likelion.org 또는 ss4483@likelion.org</p>
            <p><strong>KAKAO</strong> : choijam1104</p>
            </ul>
         

         </div>
      </div>
   </section>

<!-- Footer -->
   <footer id="footer">

      <!-- Menu -->
         <ul class="menu">
            <li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
         </ul>

   </footer>



<!-- Scripts -->
   <script src="../assets/js/jquery.poptrox.min.js"></script>
   <script src="../assets/js/jquery.scrolly.min.js"></script>
   <script src="../assets/js/jquery.scrollex.min.js"></script>
   <script src="../assets/js/skel.min.js"></script>
   <script src="../assets/js/util.js"></script>
   <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
   <script src="../assets/js/main.js"></script>
