<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>LikeLion At Yu</title>   
  <meta name="description" content="멋쟁이사자처럼 영남대학교 공식 페이지">
  <meta property="og:type" content="website">
  <meta property="og:title" content="LikeLion At Yu">
  <meta property="og:description" content="멋쟁이사자처럼 영남대학교 공식 페이지">
  <meta property="og:image" content="http://yeungnam.likelion.org/images/wordmark_E_C.png">
  <meta property="og:url" content="http://yeungnam.likelion.org/">
  <meta name="keywords" content="멋사, 영남대, 멋쟁이사자처럼">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="naver-site-verification" content="5e7e57478df7b2dfc987bf9a4184788026366030"/>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
   <link rel="stylesheet" href="../assets/css/main.css" />
   <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
   <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92285257-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>

<%= yield %>

</body>
</html>